section {
    width: 100%;
    padding: 0;
    margin: 0;
}

.side-bar {
    display: flex;
    gap: 30px;

}

.side-bar > h2 {
    flex: 0 0 20%;
    border-right: 5px solid black;
    text-align: right;
    font-size: 30px;
}

.side-bar > div{
    flex: 0 0 77%;  
}

.anchor-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "studyguide studyguide"
    "refactor calculator";
    gap: 30px;
}

.responsive-img {
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.study {
    grid-area: studyguide;
}

.study-guide  {
    background-image: url(../../../public/assets/Pre-Work\ Study.png);
    padding-bottom: 16.62%;
}

.refact {
    grid-area: refactor;
}
.refactor {
    background-image: url(../../../public/assets/refactor.png);
    padding-bottom: 50%;
}


.calculator {
    background-image: url(../../../public/assets/calculator.png);
    padding-bottom: 50%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.project img{
    width: 100%;
}